(
  name: "Right",
  schematics: {
    "bevy_proto::custom::NodeBundle": (
      style: (
        flex_direction: Column,
        justify_content: Center,
        align_items: Center,
        size: (
          width: Px(200.0),
          height: Auto,
        ),
      ),
      background_color: (Rgba(
        red: 0.15,
        green: 0.15,
        blue: 0.15,
        alpha: 1.0
      )),
    )
  },
  children: [(
    value: Inline((
      name: "Right-Content",
      schematics: {
        "bevy_proto::custom::TextBundle": (
          text: (
            sections: [(
              value: "Scrolling list",
              style: (
                font: AssetPath("fonts/JetBrainsMono-Regular.ttf"),
                font_size: 25.0,
                color: White,
              )
            )]
          ),
          style: (
            size: (
              width: Auto,
              height: Px(25.0),
            )
          ),
        ),
        "bevy_ui::widget::label::Label": ()
      },
    ))
  ), "Scrollbox"]
)