(
  name: "Player",
  schematics: {
    "basic_schematic::Playable": (),
    "basic_schematic::Alignment": Good,
    // This schematic is provided by `bevy_proto` and resolves
    // to a Bevy `SpriteBundle`:
    "bevy_proto::custom::SpriteBundle": (
      texture: AssetPath("textures/platformer/player/p1_front.png"),
    ),
  }
)