(
  name: "Cube",
  schematics: {
    "bevy_proto::custom::MaterialMeshBundle<bevy_pbr::pbr_material::StandardMaterial>": (
      mesh: Asset(Cube((
        size: 2.0,
      ))),
      material: Asset((
        base_color: Rgba(
          red: 0.8,
          green: 0.7,
          blue: 0.6,
          alpha: 1.0
        ),
      )),
      transform: (
        translation: (
          x: 0.0,
          y: 0.0,
          z: 0.0
        )
      ),
    )
  },
)
